.food-truck-detail-component {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  margin-top: 100px;
  align-items: center;
}

.food-truck-detail-component-truck-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .food-truck-detail-component-banner {
  display: flex;
  border: 1px solid gray;
  width: 80%;
  margin: 0;
} */

.test {
  position: relative;
  text-align: center;
}

.food-truck-detail-component-food-truck-img-container {
  /* height: 150px; */
  /* width: 150px; */
  width: 70%;
  height: 60%;
  margin: 0;
  justify-content: center;
}
.food-truck-detail-component-food-truck-img {
  /* height: 150px; */
  /* width: 150px; */
  /* object-fit: cover; */
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.food-truck-detail-component-food-truck-content {
  position: absolute;
  bottom: 8px;
  left: 10px;
  color: black;
  background-color: #f5efef;
  /* background: transparent; */
}

.food-truck-detail-component-food-truck-title {
  font-size: 16px;
}

.food-truck-detail-component-review-detail {
  display: flex;
  flex-direction: column;
}

/* .food-truck-detail-component-count-reviews {
  margin-left: 1em;
} */

.food-truck-detail-component-reviews-container {
  border: 1px solid gray;
  width: 100%;
}

.food-truck-detail-component-owner-btn-container {
  display: flex;
  /* justify-self: flex-end; */
}

.food-truck-detail-component-delete-btn {
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
