.food-truck-card-component {
    display: flex;
    /* border: 1px solid gray; */
    justify-content: center;
}

.food-truck-card-component-container {
    display: flex;
    /* border: 1px solid gray; */
    /* box-shadow: #EDE7E7; */
    /* background-color:#E9E3E3; */
    box-shadow: 8px 8px 8px rgb(226, 225, 225, 0.2), 0 6px 8px rgba(226, 225, 225, 0.2);
    width: 500px;
    height: 350px;
}

.food-truck-card-component-container:hover {
    box-shadow: 0 8px 8px rgb(0 0 0 / 30%), 0 6px 8px rgb(0 0 0 / 30%);

}

.food-truck-card-component-food-truck-img {
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 4px;
}

.food-truck-card-component-food-truck-content {
    margin-left: 10px;
    width: 100%;
    /* background-color: pink; */
}
/* title */
/* .food-truck-card-component-food-truck-title {
    border: 1px solid black;
} */

/* location */
.food-truck-card-component-food-truck-location {
    /* border: 1px solid black; */
    font-size: 14px;
}

/* review-info */
.food-truck-card-component-review-detail {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    /* border: 1px solid black; */
}

/* .food-truck-card-component-count-reviews {
    margin-left: 1em;
} */

.food-truck-card-component-review-intro {
    /* border: 1px solid black; */
    font-size: 14px;
    margin-bottom: 1px;
}

.food-truck-card-component-review-blurb {
    /* border: 1px solid black; */
    font-size: 12px;
}
