.food-trucks-container {
  margin-top: 100px;
  width: 100vw;
}

.food-trucks-card-container {
  width: 60%;
  margin: 50px auto;
}

.food-trucks-card-link {
  width: 100%;
  text-decoration: none;
  color: black;
}
