.food-truck-detail-container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid gray; */
  margin-top: 100px;
  align-items: center;
}

.food-truck-detail-upper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.food-truck-detail-button-group {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 8px;
  right: 10px;
  color: black;

}

.food-truck-detail-button {
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding-right: 10px;
  background-color: #f5efef;
  height: auto;
}

.food-truck-detail-button:hover {
  box-shadow: 2px 2px 2px #e4dfde;
  color: #ea3434;
}

.food-truck-detail-img-text-container {
  position: relative;
  text-align: center;
  margin: auto;
  height: 570px;
  width: 765px;
}

.food-truck-detail-img-container {
  width: 100%;
  height: 100%;
  margin: 0;
  justify-content: center;
}

.food-truck-detail-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.food-truck-detail-component-food-truck-content {
  position: absolute;
  bottom: 8px;
  left: 10px;
  color: black;
  background-color: #f5efef;
  /* opacity: 70%; */
  /* background: transparent; */
}

.food-truck-detail-component-food-truck-title {
  font-size: 24px;
}

.food-truck-detail-component-review-detail {
  display: flex;
  flex-direction: column;
  padding: 0 2px;
}

.food-truck-detail-component-truck-details {
  width: 765px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.food-truck-detail-compononent-truck-location-container {
  justify-items: flex-end;
}

.food-truck-detail-component-reviews-container {
  margin-top: 50px;
  background-color: #f5efef;
  width: 100%;
}
