.food-truck-detail-component-owner-btn-container {
  display: flex;
  /* justify-self: flex-end; */
}

.food-truck-detail-component-delete-btn {
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.food-truck-detail-component {
  display: flex;
  flex-direction: column;
  /* border: 1px solid gray; */
  margin-top: 100px;
  align-items: center;
}

.food-truck-detail-component-truck-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test {
  position: relative;
  text-align: center;
  margin: auto;
}

.food-truck-detail-component-food-truck-img-container {
  width: 100%;
  height: 70%;
  margin: 0;
  justify-content: center;
}
.food-truck-detail-component-food-truck-img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.food-truck-detail-component-food-truck-content {
  position: absolute;
  bottom: 8px;
  left: 10px;
  color: black;
  background-color: #f5efef;
  /* opacity: 70%; */
  /* background: transparent; */
}

.food-truck-detail-component-food-truck-title {
  font-size: 24px;
}

.food-truck-detail-component-review-detail {
  display: flex;
  flex-direction: column;
  padding: 0 2px;
}

/* .food-truck-detail-component-count-reviews {
  margin-left: 1em;
} */

.food-truck-detail-component-truck-details {
  width: 69%;
  display: flex;
  justify-content: space-between;
}

/* .food-truck-detail-compononent-truck-info-container {
  border: 1px solid black;
} */

.food-truck-detail-compononent-truck-location-container {
  justify-items: flex-end;
}

.food-truck-detail-component-reviews-container {
  /* border: 1px solid gray; */
  margin-top: 50px;
  background-color: #F5EFEF;
  width: 100%;
}
