.my-food-trucks-container {
  margin-top: 100px;
  width: 100vw;
}

.my-food-trucks-card-container {
  /* margin-bottom: 50px; */
  /* margin-left: 20px; */
  width: 60%;
  margin: 50px auto;
}

.my-food-trucks-card-link {
  width: 100%;
  text-decoration: none;
  color: black;
}
