.my-food-trucks-container {
  margin-top: 100px;
  width: 100vw;
}

.title-container {
  margin-bottom: 40px;
  display: flex;
}

.my-food-trucks-title {
  margin:auto;
  font-size: 24px;
  font-weight: bold;
}

.my-food-trucks-card-container {
  width: 60%;
  margin: 50px auto;
}

.my-food-trucks-card-link {
  width: 100%;
  text-decoration: none;
  color: black;
}

.no-food-trucks-div {
  margin: 75px 275px;
}
