.search-container {
  margin-top: 100px;
}

.search-bar-container {
  width: 35%;
}

.search-results-container {
  margin-top: 50px;
}

.pre-search-container {
  display: flex;
  flex-direction: column;
}

.pre-search-title {
  margin:auto;
  font-size: 24px;
  font-weight: bold;
}

.search-results-category {
  margin-bottom: 50px;
  height: auto;
  display: flex;
  flex-direction: column;

}

.food-trucks-card-container {
  margin-bottom: 10px;
}

.search-results-title {
  font-size: 18px;
  margin: auto;
  text-decoration: underline;
  font-weight: 900;
}

.search-results-none {
  font-size: 16px;
  margin: auto;
  font-style: italic;
}

/* .fa-solid.fa-magnifying-glass {
  color: #ea3434;
} */
