.home-component-banner-img {
    width: 100vh;
}

.home-component-trucks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3em;
}

.home-component-truck-div {
    width: 100px;
    height: 100px;
}

.home-component-truck-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
