.navbar-container {
  background-color: #ea3434;
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-button-group {
  display: flex;
  align-items: center;
}

.navbar-button {
  font-size: 18px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.navbar-link {
  text-decoration: none;
  color: white;
  padding: 1px 15px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.navbar-link:hover {
  font-weight: bold;
  background-color: white;
  color:#ea3434;
}

.navbar-home-link {
  text-decoration: none;
  color: white;
  padding: 1px 15px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-weight: bold;
}

/* .navbar-home-link:hover {
  font-weight: bold;
} */

.navbar-button:hover {
  font-weight: bold;
  background-color: white;
  color:#ea3434;
}

/* TO DO: style logo */
.navbar-logo {
  height: 30px;
  width: 30px;
}

.navbar-home {
  padding: 1px 6px;
}

/* .dropdown-container {
  position: relative;
  display: inline-block;
  width: 100px;
} */
