.navbar-component-container {
    height: 50px;
    background-color: rgb(15, 15, 15);
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    color: white;
}

.navbar-component-login-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.navbar-component-logged-in-menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
