.review-form-container {
  background-color: white;
  width: 300px;
  height: 400px;
}

.review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  margin: auto;
}

.review-form-title-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.review-form-title {
  font-size: 18px;
  font-weight: bold;
  margin: auto;
  padding-top: 20px;
}

.form-errors {
  color: red;
  font-size: 12px;
}

.review-form-select {
  border-radius: 4px;
  border: 1px solid rgb(147, 147, 147);
  margin-bottom: 20px;
  width: 100%;
  height: 20px;
}

.review-form-text-area {
  margin-bottom: 5px;
  border: 1px solid rgb(147, 147, 147);
  font-family: Arial, Helvetica, sans-serif;
}

.review-form-text-area::placeholder {
  font-family: Arial, Helvetica, sans-serif;
}


.form-button {
  border-radius: 4px;
  border: 0;
  width: 60%;
  margin-bottom: 10px;
  color: white;
  background-color: #ea3434;
  height: 20px;
}

.form-button:hover {
  background-color: white;
  color: #ea3434;
  font-weight: bold;
  border: 1px solid #ea3434;
}


#starRating {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
}

input[type="radio"] {
  display: none;
}


.ratingStars:hover {
  cursor: pointer;
  transition: color 200ms;
}
