.review-listing-component-card-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.review-listing-container {
  max-width: 70%;
  margin: auto;
}

.review-listing-title {
  font-weight: bold;
  font-size: 24px;
}

.review-button {
  font-size: 14px;
  background-color: transparent;
  color: #ea3434;
  border: none;
  cursor: pointer;
}
